        <!-- This is the footer -->
        <!-- The footer goes inside the body but not always -->
        <br /><br />
        <hr>
        <footer class="container text-center">
            CST336 Internet Programming<br/>
            <strong>Disclaimer: </strong>The information in this website is for educational purposes only.
            
           <figure>
                <a href="https://csumb.edu/" target="_blank"><img src="img/csumb.png" alt="CSUMB Logo"/></a>
           </figure>
            
            <br /><br />
        </footer>
        <!-- closing footer -->
        <br /><br />
    </body>
    <!-- closing body -->
</html>
