<% include partials/header.ejs %>

    <div class="container page-header">
        <h3>Let's get you signed in.</h3>
    </div>

    <div class="container">
        <form method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" id="username" name="username">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" id="password" name="password">
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-outline-dark">Log in!</button>
            </div>
        </form>

        <div class="text-right">
            <a href="/signup">Wait, I don't have an account yet</a>
        </div>
    </div>

    <% if (typeof loginError !="undefined" && loginError) { %>
        <br />
        <div class="container text-center">
            <p class="error">We couldn't authenticate those credentials. Please try again.</p>
        </div>
    <% } %>
        
<% include partials/footer.ejs %>
